export SCW_DEFAULT_ORGANIZATION_ID="215d7434-7429-43e4-b93f-edfd57e2677d"
export SCW_DEFAULT_PROJECT_ID="536545d1-5684-450b-832b-3f8c14e7986f"

source .secret

export SERVER1_IP=$(scw instance server list name=server1 -o json | jq -r ".[0].public_ip.address")

# Use to inject fixtures:
export POSTGRES_URL=postgres://postgres:password@localhost:5435/myapp
